<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa ex soluta
      ipsam voluptatibus perspiciatis? Ipsam exercitationem harum mollitia
      expedita itaque minus, natus libero. In blanditiis earum ullam asperiores
      officia alias!
    </p>
  </div>
</div>