<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <hr class="my-4" />
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur animi
    sequi, vel facere ad rem minus, nobis pariatur at veritatis minima ratione
    distinctio exercitationem vitae a! Sequi accusantium nisi nemo.</p>
  <a href="www.google.com" class="btn btn-primary btn-lg">Google</a>
</div>